ion-content {
  position: relative;
  z-index: 10;
  --background: linear-gradient(180deg, #20a0e5 0%, #f2fcfe 100%);
  .header-option {
    position: relative;
    z-index: 10;
    ion-icon {
      margin-right: 5px;
      color: #002d63;
    }
  }
  .header-notify {
    position: relative;
    z-index: 10;
    justify-content: space-between;
    padding: 30px 10px 0px 10px;
    .heart {
      ion-icon {
        color: #f23131;
      }
      ion-label {
        font-weight: normal;
        font-size: 20px;
        color: red;
      }
    }
    .middle {
      border: 2px solid #ffffff;
      box-sizing: border-box;
      border-radius: 10px;
      ion-col {
        ion-row {
          .question-type {
            color: #ffffff;
            font-weight: 500;
            font-size: 18px;
          }
        }
      }
    }
    .rule {
      color: #ffffff;
    }
  }
  .time-and-score {
    position: relative;
    z-index: 10;
    justify-content: space-between;
    color: #ffffff;
    font-size: 18px;
    padding: 20px 10px 0 0;
  }
  .question-counter {
    position: absolute;
    color: #ffffff;
    font-weight: 500;
    font-size: 2.2vh;
    background: #000576;
    border: 5px solid #ffffff;
    box-shadow: 0px 5px 4px rgb(61 61 61 / 25%);
    border-radius: 40px;
    padding: 5px 25px 5px 25px;
    left: 50%;
    top: -50%;
    transform: translate(-45%, 1%);
  }
  .question-cover {
    position: relative;
    z-index: 10;
    margin-top: 10px;
    margin-bottom: 5px;
    .question {
      width: 100%;
      font-size: 16px;
      float: left;
      color: #ffffff;
      border: 2px solid #ffffff;
      border-radius: 40px;
      background-color: transparent;
      border-radius: 15px;
      padding: 30px 15px 20px 15px;
    }
  }
  .question-img-cover {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    z-index: 10;
    .question-img {
      border-radius: 15px;
      width: 96%;
      height: 200px;
      object-fit: contain;
      display: block;
      margin: auto;
    }
  }

  ion-grid {
    position: relative;
    z-index: 10;
    margin-top: -10px;
    width: 90%;
    ion-row {
      ion-col {
        ion-buttons {
          border: 2px solid #ffffff;
          width: 100%;
          font-weight: 400;
          margin-top: 5px;
          border-radius: 20px;
          word-break: keep-all;
          font-size: 14px;
          justify-content: center;
          padding: 8px;
        }
        .confirm-btn {
          border: 2px solid #ffffff;
          --border-color: #ffffff;
          width: 50%;
          font-weight: 400;
          margin-top: 5px;
          border-radius: 20px;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: keep-all;
          font-size: 14px;
          --background-activated: none;
          margin-top: 15px;
          border: #000576;
          color: #002d63;
          --background: #ffffff;
          transform: translateX(50%);
        }
        .answer {
          color: #426891;
        }
        .active-button {
          background: #ffffff;
          color: #000576;
        }
      }
    }
  }
}

.modal {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  flex-direction: column;
  background: linear-gradient(180deg, #1800ae 0%, #ffffff 100%);
  transform: translateY(100%);
  transition: 0.5s;

  .modal-fixed {
    position: relative;
    z-index: 13;
    width: 100%;
    text-align: center;

    .modal-header {
      position: relative;
      height: 80px;

      .back-btn-custom {
        font-size: 40px;
        border: 1px solid;
      }
    }
  }

  .rule-label {
    font-size: 35px;
    color: #ffffff;
  }

  .ion-content {
    overflow: auto;

    ion-buttons {
      width: 90%;
      display: block;
      margin: auto;
      margin-top: 30px;
      position: relative;
      z-index: 101;
      .rule-content {
        color: #ffffff;
        justify-content: center;
        display: block;
        margin: auto;
      }
    }
    ion-img {
      width: 80%;
      display: block;
      margin: auto;
      margin-top: 50px;
      position: relative;
      z-index: 99;
    }
  }
  .background-gif {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    .img-star2 {
      position: absolute;
      left: 0;
      top: 10vh;
      z-index: 1;
    }
    .img-star4 {
      position: absolute;
      left: 0;
      top: 30vh;
      z-index: 1;
    }
  }
}
.has-modal {
  transform: translateY(0);
}

.background-gif {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  .img-star1 {
    position: absolute;
    left: 0;
    top: 50vh;
    z-index: 1;
  }
  .img-star2 {
    position: absolute;
    left: 0;
    top: 50vh;
    z-index: 1;
  }
}
