<ion-header>
  <app-header [headerCustom]="headerCustom"></app-header>
</ion-header>

<ion-content>
  <app-search-bar-nav (output)="search($event)"></app-search-bar-nav>

  <div class="segment-container">
    <ion-buttons class="segment">
      <div class="segment__item" [ngClass]="{'segment__item--selected': currentCategoryId == category.id}"
        *ngFor="let category of categories" (click)="changeCategory(category)">
        {{ category.name }}
      </div>
    </ion-buttons>
  </div>

  <div class="body">
    <ion-buttons class="header">
      <div *ngIf="list.length">
        <img src="assets/icon/setting.svg" class="header-icon active-effect" (click)="toggleHasSetting()">

        <div *ngIf="hasSetting" class="setting main-box-shadow" (click)="setHasSetting(false)">
          <div class="setting-item" (click)="sort(sortType.priceDesc)">Giá cao > thấp</div>
          <div class="setting-item" (click)="sort(sortType.priceAsc)">Giá thấp > cao</div>
          <div class="setting-item" (click)="sort(sortType.newest)">Hàng mới nhất</div>
          <div class="setting-item" (click)="sort(sortType.topSeller)">Bán chạy nhất</div>
        </div>
      </div>

      <img class="active-effect other-stores" src="assets/icon/shop.svg" (click)="alertGoToOtherStore()">
    </ion-buttons>

    <ion-buttons class="list">
      <div *ngFor="let col of list" class="col main-box-shadow">
        <div class="img-container">
          <img
            onerror="this.src='https://res.cloudinary.com/baodang359/image/upload/v1616123967/kito-music/MDC319_avatar_bqms50.jpg';"
            [src]="col.thumb_images?.url" class="img">
        </div>
        <div class="text-box">
          <ion-label class="name three-dots-2">{{ col.name }}</ion-label>
          <ion-label class="price">{{ col.price | number:'2.1-2'}} {{ col.unit_price}}</ion-label>
        </div>

        <div *ngIf="col.amount <= 0" class="add-btn">
          <ion-buttons (click)="openAddModal(col)" class="modifier-btn modifier-btn-increase active-effect">+
          </ion-buttons>
        </div>

        <ion-buttons *ngIf="col.amount > 0" class="modifier">
          <ion-buttons class="modifier-btn modifier-btn-decrease active-effect" (click)="decreaseAmount(col)">-
          </ion-buttons>
          <span class="counter">{{ col.amount }}</span>
          <ion-buttons class="modifier-btn modifier-btn-increase active-effect" (click)="increaseAmount(col)">+
          </ion-buttons>
        </ion-buttons>
      </div>
    </ion-buttons>
    <ion-list *ngIf="!list.length && notFound" class="not-found">
      Không tìm thấy
    </ion-list>
    <ion-infinite-scroll #infiniteScroll (ionInfinite)="loadMoreProducts()" *ngFor="let item of categories">
      <ion-infinite-scroll-content loadingSpinner="lines"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div class="cart-wrapper">
    <div class="cart" (click)="goToCart()">
      <ion-buttons class="cart-inner main-box-shadow">
        <ion-icon name="bag-handle"></ion-icon>
        <ion-buttons *ngIf="cart.length" class="cart-amount">+{{ calTotalItem() }}</ion-buttons>
      </ion-buttons>
    </div>
  </div>
</ion-content>