.title-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #002d63;
}
.list-item {
    list-style: none;
    padding: 0;
    .item {
        display: flex;
        margin: 25px 0;
        align-items: center;
        position: relative;
        .icon-item {
            width: 25px;
            margin-right: 15px;
        }
        .icon-tick {
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(-100%, -15%);
        }
    }
}
