<ion-header>
	<app-header [headerCustom]="headerCustom"></app-header>
</ion-header>

<ion-content class="ion-padding">
  <app-search-bar-nav (output)="search($event)"></app-search-bar-nav>

  <ion-list>
    <div *ngFor="let item of list" class="active-effect" (click)="goToSelectParish(item)">
      <img class="cover-img" [src]="item.thumb_image.url">
      <ion-label class="absolute-center">{{ item.name }}</ion-label>
    </div>
  </ion-list>
  <ion-list *ngIf="!list.length && notFound" class="not-found">
    Không tìm thấy
  </ion-list>
</ion-content>
